<footer id="footer" class="footer light-background">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">Ixiera</span>
            </a>
            <p>Kami membantu bisnis berjalan lebih lancar dengan sistem digital yang praktis. Fokus kami adalah membuat sistem yang bekerja untuk Anda.</p>
            <div class="social-links d-flex mt-4">
              <a href="https://twitter.com/@ixierra" target="_blank"><i class="bi bi-twitter-x"></i></a>
              <a href="https://discord.gg/FqxEMxn9" target="_blank"><i class="bi bi-discord"></i></a>
              <a href="https://www.instagram.com/ixieraa" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.threads.net/@ixieraa" target="_blank"><i class="bi bi-threads"></i></a>
              <a href="https://wa.me/6285702373412" target="_blank"><i class="bi bi-whatsapp"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Menu Cepat</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Layanan Kami</h4>
            <ul>
              <li><a href="services.html">Website & Sistem</a></li>
              <li><a href="services.html">Otomatisasi Bisnis</a></li>
              <li><a href="services.html">Branding & Desain</a></li>
              <li><a href="services.html">Marketing Digital</a></li>
              <li><a href="services.html">Kemitraan Strategis</a></li>
            </ul>
          </div>

         <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Kontak</h4>
            <p>Jl. Raya Surabaya - Malang No.1<br>Pandaan, Pasuruan, Jawa Timur 67156<br>Indonesia</p>
            <p class="mt-4">
              <strong>WhatsApp:</strong>
              <a href="https://wa.me/6285702373412" style="text-decoration:none; color:inherit;">+62 857-0237-3412</a>
            </p>
            <p>
              <strong>Email:</strong>
              <a href="mailto:ixierastudio@gmail.com" style="text-decoration:none; color:inherit;">ixierastudio@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container copyright text-center">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Ixiera</strong> <span>All Rights Reserved</span></p>
    </div>
</footer>